<!--The content below is only a placeholder and can be replaced.-->

<mat-sidenav-container class="example-container" >
  <mat-sidenav mode="side" class="side-nav" opened fxFlex="columns">
      <div>
        <button mat-icon-button color="primary" class="side-icon icon-active" aria-label="Example icon button with a home icon">
          <mat-icon >account_balance</mat-icon>
        </button>
          
      </div>
      <div>
        <button mat-icon-button color="primary" class="side-icon icon-deactive" aria-label="Example icon button with a home icon">
          <mat-icon >add_task</mat-icon>
        </button>   
      </div>
      <div>
        <button mat-icon-button color="primary" class="side-icon icon-deactive" aria-label="Example icon button with a home icon">
          <mat-icon >error_outline</mat-icon>
        </button>
      </div>
      <div>
        <button mat-icon-button color="primary" class="side-icon icon-deactive" aria-label="Example icon button with a home icon">
          <mat-icon >
            stars
          </mat-icon>
        </button>
      </div>
      <div>
        <button mat-icon-button color="primary" class="side-icon icon-deactive" aria-label="Example icon button with a home icon">
          <mat-icon >
            edit
          </mat-icon>
        </button>
      </div>
      <div>
        <button mat-icon-button color="primary" class="side-icon icon-deactive" aria-label="Example icon button with a home icon">
          <mat-icon >
            policy
          </mat-icon>
        </button>
      </div>
      <div>
        <button mat-icon-button color="primary" class="side-icon icon-deactive" aria-label="Example icon button with a home icon">
          <mat-icon >
            speaker_notes
          </mat-icon>
        </button>
      </div>

    
  </mat-sidenav>
  <mat-sidenav-content><router-outlet></router-outlet></mat-sidenav-content>
</mat-sidenav-container>


