.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
  }

.side-nav{
    background: #181d30;
}

.icon-active{
    color: #4267b1;
}

.icon-deactive{
    color: #6c6d7e;
}

.side-icon{
    font-size: 36px;
    width: 44px;
    padding: 8px;
}